name: End-to-End MLOps Pipeline

on:
  push:
    branches:
      - main

jobs:
  mlops-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Load data from Hugging Face
        run: |
          python - <<EOF
          from datasets import load_dataset
          dataset = load_dataset(
              "krishnagunda/visit-with-us-wellness-dataset",
              data_files={"train": "train.csv", "test": "test.csv"}
          )
          print("Data loaded from Hugging Face Dataset Hub")
          EOF

      - name: Train model
        run: |
          python - <<EOF
          import pandas as pd
          import joblib
          from sklearn.ensemble import RandomForestClassifier
          from sklearn.compose import ColumnTransformer
          from sklearn.preprocessing import OneHotEncoder
          from sklearn.pipeline import Pipeline

          train_df = pd.read_csv("data/train.csv")

          X = train_df.drop("ProdTaken", axis=1)
          y = train_df["ProdTaken"]

          cat_cols = X.select_dtypes(include="object").columns
          num_cols = X.select_dtypes(include=["int64", "float64"]).columns

          preprocessor = ColumnTransformer(
              transformers=[
                  ("cat", OneHotEncoder(handle_unknown="ignore"), cat_cols),
                  ("num", "passthrough", num_cols)
              ]
          )

          model = RandomForestClassifier(random_state=42)

          pipeline = Pipeline([
              ("preprocessor", preprocessor),
              ("model", model)
          ])

          pipeline.fit(X, y)

          joblib.dump(pipeline, "model/wellness_rf_model.pkl")
          print("Model trained and saved")
          EOF

      - name: Upload model to Hugging Face Model Hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          python - <<EOF
          from huggingface_hub import HfApi
          api = HfApi()
          api.upload_file(
              path_or_fileobj="model/wellness_rf_model.pkl",
              path_in_repo="wellness_rf_model.pkl",
              repo_id="krishnagunda/wellness-tourism-purchase-model",
              repo_type="model"
          )
          print("Model uploaded to Hugging Face Model Hub")
          EOF
